<div layout="column">
  <div>
    <div layout="row" align="center center">
      <div flex>
          <md-text-float class="input-search" type="text" label="Search" ng-model="players.search" required></md-text-float>
      </div>
    </div>
  </div>

  <md-content>
    <md-list>

      <md-item ng-repeat="player in players.players | filter:players.search | orderBy:'player_username'" ng-swipe-right="player.showAction = false;" ng-swipe-left="player.showAction = true;" ng-mouseenter="player.showAction = true;" ng-mouseleave="player.showAction = false;" >

        <md-item-content>
          <div class="md-tile-content">
            <div layout="row" layout-align="start center">
              <div flex="5" flex-lg="30" flex-gt-lg="30"></div>

              <div flex>
                <h3 ng-bind="player.player_username"></h3>
                <h4 ng-bind="player.player_email"></h4>
                <p class="player-status" ng-class="{'suspended': player.player_suspended === true, 'active': player.player_suspended === false}"></p>
              </div>
            </div>

            <div flex="5" flex-lg="30" flex-gt-lg="30"></div>
          </div>

          <div class="action animate-if" ng-if="player.showAction" >
            <div layout="row" layout-align="space-around center" layout-fill>
              <div flex="5" flex-lg="30" flex-gt-lg="30"></div>

              <div flex layout="row" layout-align="start center" ng-if="player.player_suspended === true">
                <md-button ng-click="players.changePlayerStatus(player, false)" ng-disabled="xhrInProgress" aria-label="activate player" class="md-fab md-primary" >
                  <i class="ion-thumbsup" style="font-size: 32px;"></i>
                </md-button>
              </div>

              <div flex layout="row" layout-align="start center" ng-if="player.player_suspended === false">
                <md-button ng-click="players.changePlayerStatus(player, true)" ng-disabled="xhrInProgress" aria-label="suspend player" class="md-fab md-warn" >
                  <i class="ion-thumbsdown" style="font-size: 32px;"></i>
                </md-button>
              </div>

              <div flex layout="row" layout-align="end center">
                <md-button ng-dblclick="players.deletePlayer(player)" ng-swipe-right="players.deletePlayer(player)" ng-disabled="xhrInProgress" aria-label="suspend player" class="md-fab md-warn" >
                  <i class="ion-ios-trash-outline" style="font-size: 32px;"></i>
                </md-button>
              </div>

              <div flex="5" flex-lg="30" flex-gt-lg="30"></div>
            </div>
          </div>
        </md-item-content>

        <md-divider></md-divider>
      </md-item>

    </md-list>
  </md-content>
</div>

<div class="fab-height"></div>
