/* font: START ---------------------------------------------------------------*/
@font-face {
  font-family: 'clearSans-thin';
  src: url(../fonts/clearsans/WOFF/ClearSans-Thin.woff) format('woff');
}

@font-face {
  font-family: 'clearSans-light';
  src: url(../fonts/clearsans/WOFF/ClearSans-Light.woff) format('woff');
}

@font-face {
  font-family: 'clearSans-regular';
  src: url(../fonts/clearsans/WOFF/ClearSans-Regular.woff) format('woff');
}

.clearSans-thin {
  font-family: 'clearSans-thin';
}

.clearSans-light {
  font-family: 'clearSans-light';
}

.clearSans-regular {
  font-family: 'clearSans-regular';
}
/* font: END -----------------------------------------------------------------*/



/* Angular.js: START ---------------------------------------------------------*/
/*
.animate-view.ng-enter {
  -webkit-animation: 0.5s fadeInLeft;
  animation: 0.5s fadeInLeft;
}

.animate-view.ng-leave {
  -webkit-animation: 0s fadeInRight;
  animation: 0s fadeInRight;
}
*/

/*
.animate-if.ng-enter {
  -webkit-animation: 0.25s fadeInDown;
  animation: 0.25s fadeInDown;
}

.animate-if.ng-leave {
  -webkit-animation: 0.25s fadeOutUp;
  animation: 0.25s fadeOutUp;
}
*/

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity: 1;
}

[ng\:cloak], [ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
/* Angular.js: END -----------------------------------------------------------*/



/* material customization: START ---------------------------------------------*/
md-sidenav {
  width: 240px;
}

md-sidenav,
md-backdrop.md-opaque.md-default-theme {
  position: fixed;
}

.md-grid-item-content {
  width: 100px;
}

.md-grid-text {
  margin-top: -8px;
}

md-toast {
  position: fixed;
}

.main-menu button.active {
  color: #03a9f4;
}

form.form-block {
  width: 90%;
  margin-bottom: 64px;
}

form.form-block .form-title {
  text-align: center;
}

md-input-group.input-search {
  margin: 0;
}

md-input-group.input-sm > label{
  font-size: 80%;
}

md-input-group.input-block input,
input.input-block,
select.input-block {
  width: 100%;
}

select.input-block,
input.input-block[type="date"],
input.input-block[type="time"] {
  margin-bottom: 16px;
}

md-input-group.input-search input {
  border: 1px soid red;
  width: 100%;
  padding: 0 12px;
}

md-input-group.input-search label {
  padding: 0 16px;
}

.md-item-icon {
  font-size: 64px;
}

button.btn-block {
  width: 100%;
}

button.btn-lg {
  padding: 12px;
}

button.btn-padding-left-right {
  padding-left: 32px;
  padding-right: 32px;
}

.md-fab-fixed-bottom-right {
  position: fixed;
  top: auto;
  right: 28px;
  bottom: 28px;
  left: auto;
}

.action {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 4px 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*
md-item div.action.ng-hide-add {
  -webkit-animation: 0.5s fadeOut;
  animation: 0.5s fadeOut;
}

md-item div.action.ng-hide-remove {
  -webkit-animation: 0.5s fadeIn;
  animation: 0.5s fadeIn;
}
*/
/* material customization: END -----------------------------------------------*/



/* style */
body {
  font-family: 'clearSans-light';
}

input, textarea {
  border-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 12px;
  font-family: 'clearSans-thin';
}

img.pepl-logo {
  height: 100px;
  width: auto;
  margin-bottom: 64px;
  margin-top: 8px;
}

div.aboot-pepl {
  font-size: 18px;
}

div.aboot-pepl div[flex] {
  margin-bottom: 32px;
  text-align: center;
}

div.aboot-pepl .thumb-title {
  margin-bottom: 8px;
  text-transform: uppercase;
}

div.aboot-pepl .thumb-content {
  line-height: 132%;
}

div.aboot-pepl i {
  font-size: 72px;
  opacity: 0.75;
}

img.club-logo {
  width: 72px;
  height: auto;
}

p.club-name {
  font-size: 8px;
  opacity: 0.5;
}

i.icon-lg {
  font-size: 32px;
}

.text-center {
  text-align: center;
}

.fab-height {
  width: 100%;
  height: 112px;
}

small {
  font-size: 75%;
}

footer {
  padding-bottom: 8px;
  color: #666;
}

footer * {
  text-decoration: none;
  color: #999;
  line-height: 100%;
  text-align: center;
}

footer a.github {
  font-size: 32px;
}
